[tool.black]
line-length = 79
target-version = ["py311"]
# 除外ディレクトリを設定
exclude = '''
/(
    \.venv
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 79
include_trailing_comma = true

[tool.flake8]
max-line-length = 79
# blackとの衝突を避けるための無視設定
extend-ignore = ["E203", "W503"]
exclude = [
    ".venv",
    "build",
    "dist",
    "migrations",
]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
strict = false

[[tool.mypy.polars]]
module = "polars.*"
ignore_missing_imports = true



